### db.env
MARIADB_DATABASE=
MARIADB_USER=
MARIADB_PASSWORD=
MARIADB_ROOT_PASSWORD=
MYSQLD_EXPORTER_PASSWORD= 

### app.env
SPRING_DATASOURCE_URL=
SPRING_DATASOURCE_USERNAME=
SPRING_DATASOURCE_PASSWORD=

### grafana.env
GF_SECURITY_ADMIN_PASSWORD=